@media (max-width: 767px) {
 
    .landscape {
    
    background-image: linear-gradient(79.58deg, rgba(0,115,12, 0.81) -39.14%, rgba(251, 246,238, 0)90.23%);
    width: 375px;
    height: 719px;
    .landscape1 {
       
        height:240px;

        img {
         display: none;
            
        }

    }

    .landscape2 {

        img{
            position: relative;
            bottom: -60px;
            left: 10px;
          
        }

        h6 {
            font-family: 'Nunito';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            margin-left: 30px;
        }
    }
        .landscape2-1 {
        h1 {
            font-family: 'Nunito';
            font-weight: 700;
            font-size: 28px;
            padding: 0px 9px;
            // color: red;
    
            .green-text {
                color: $text-green;
            }
        }
        
        p {
            color: $text-grey;
            font-weight: 400;
            font-size: 14px;
            margin-left: 0px;
            padding: 0px 9px;
        }    

        .button-green {
            width: 330px;
            height: 44px;
            border-radius: 5px;
            border: none;
            background-color: $text-green;
            font-weight: 700;
            font-size: 16px;
            color: $text-white;
            cursor: pointer;
            margin-left: 5%;
            }

            .button-empty {
                background-color: rgba(0,0,0,.0);
        font-weight: 600;
        font-size: 16px;
        color: $text-grey;
        border: none;
       
        cursor: pointer;
        margin-left: 25%;
        .arrow {
            position: relative;
            top: 3px;
            right: 0px;
        }
            }

        

        }


    }
    .landscape3 div {
        display: none;

        .foto2 {
            display: none;
        }
    }


 }


@media  (min-width: 768px) {
    


.landscape {
    display: flex;
   
    // background-color: rgb(253, 255, 111);
    background-image: linear-gradient(79.58deg, rgba(0,115,12, 0.81) -39.14%, rgba(251, 246,238, 0)90.23%);
    width: 1920px;
    height: 719px;

.landscape1 {
    
    width: 250px;
    top: 100px;
    img {
        position: relative;
        top: 380px;
    }
}
.landscape2 {
    width: 656px;
    img{
        position: relative;
        bottom: -60px;
        // margin-right: 100px
        // padding-right: 10px;
    }
    h6 {
        @include nunito ();
        margin-left: 30px;
    }
}
    .landscape2-1 {
    h1 {
        font-family: 'Nunito';
        font-weight: 800;
        font-size: 58px;
        // color: red;

        .green-text {
            color: $text-green;
        }
    }
    
    p {
        color: $text-grey;
        font-weight: 400;
        font-size: 18px;
        margin-left: 0px;
    }    
    
    .button-green {
    @include button-main;
    background-color: $text-green;
    font-weight: 700;
    font-size: 18px;
    color: $text-white;
    cursor: pointer;
    }
    .button-empty {
        background-color: rgba(0,0,0,.0);
        font-weight: 600;
        font-size: 16px;
        color: $text-grey;
        border: none;
        margin-left: 5%;
        cursor: pointer;
        .arrow {
            position: relative;
            top: 3px;
            right: 0px;
        }
    }
    } 
    
.landscape2-2 {
    display: flex;
    @include nunito ();
    align-items: center;
    justify-content: left;

    div {
        width: 30%;
    }

    p {
        justify-content: center;
        margin-left: 60px;
        color: $text-main;
        line-height: 0px;
      
    }
    p {
        justify-content: center;
        margin-left: 60px;
        color: $text-main;
        line-height: 0px;
    }
}


.landscape3 {
   
    width: 1013px;
    img{
        position: relative;
        top: 140px;
    }
}
}


}