@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
 }
 
 @mixin hover () {
    &:hover {color: $text-green;}   
 }
 @mixin nunito () {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
 }
 @mixin button-main() {
   width: 190px;
   height: 50px;
   border-radius: 5px;
   border: none;
  
}

@mixin h-1() {
      font-family: 'Nunito';
      font-weight: 800;
      font-size: 45px;
      padding: 0px 9px;
      color: $text-main;
      
}
@mixin p-1() {
      
   font-family: 'Nunito';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
     
}