$text-white: #ffffff;
$text-green: #00730C;
$text-main: #212529;
$text-grey:#676767;
$text-gradient: (79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
// $text-main-hover: 
$padding-m: 20px;


