@media (max-width: 767px) {
  .container {
    background-color: #00730C;
    width: 375px;
    height: 55px;
    display: flex;
  }
  .container .image {
    width: 10%;
    display: block;
  }
  .container .image img {
    position: relative;
    left: 50%;
    top: 30%;
    cursor: pointer;
  }
  .container .image .link-hide {
    display: none;
  }
  .container .language {
    display: block;
    width: 70%;
  }
  .container .language a {
    position: relative;
    top: 30%;
    left: 60%;
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
  }
  .container .language a:hover {
    color: red;
  }
}
@media (min-width: 768px) {
  header .container {
    background-color: #00730C;
    width: 1920px;
    height: 59px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  header .container a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
  }
  header .container .language a:hover {
    color: red;
  }
  header .container img {
    position: relative;
    top: 4px;
  }
}
@media (max-width: 767px) {
  .menu {
    background-color: #ffffff;
    width: 375px;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .menu .display-none {
    display: none;
  }
  .menu .call-us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00730C;
    border: none;
    width: 40px;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 100%;
  }
  .menu .call-us .talk {
    position: relative;
    bottom: 7px;
    left: -5px;
  }
  .menu .call-us .callus {
    display: none;
  }
  .menu .call-us .tel2 {
    position: relative;
    left: 7px;
  }
  .menu .mobil {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: yellow;
    border: none;
    width: 40px;
    height: 34px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
  }
}
@media (min-width: 768px) {
  .menu {
    background-color: #ffffff;
    width: 1920px;
    height: 85px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .menu a {
    color: #212529;
    text-decoration: none;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
  }
  .menu a:hover {
    color: #00730C;
  }
  .menu a .call-us {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #00730C;
    border: none;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
  }
  .menu a .call-us .talk {
    position: relative;
    bottom: 7px;
    left: -10px;
  }
  .menu a .call-us .callus {
    position: relative;
    width: 61px;
    height: 16px;
    left: -10px;
  }
  .menu a .call-us .tel2 {
    position: relative;
    left: 10px;
  }
  .menu a .mobil {
    display: none;
  }
}
@media (max-width: 767px) {
  .landscape {
    background-image: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
    width: 375px;
    height: 719px;
  }
  .landscape .landscape1 {
    height: 240px;
  }
  .landscape .landscape1 img {
    display: none;
  }
  .landscape .landscape2 img {
    position: relative;
    bottom: -60px;
    left: 10px;
  }
  .landscape .landscape2 h6 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    margin-left: 30px;
  }
  .landscape .landscape2-1 h1 {
    font-family: "Nunito";
    font-weight: 700;
    font-size: 28px;
    padding: 0px 9px;
  }
  .landscape .landscape2-1 h1 .green-text {
    color: #00730C;
  }
  .landscape .landscape2-1 p {
    color: #676767;
    font-weight: 400;
    font-size: 14px;
    margin-left: 0px;
    padding: 0px 9px;
  }
  .landscape .landscape2-1 .button-green {
    width: 330px;
    height: 44px;
    border-radius: 5px;
    border: none;
    background-color: #00730C;
    font-weight: 700;
    font-size: 16px;
    color: #ffffff;
    cursor: pointer;
    margin-left: 5%;
  }
  .landscape .landscape2-1 .button-empty {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 16px;
    color: #676767;
    border: none;
    cursor: pointer;
    margin-left: 25%;
  }
  .landscape .landscape2-1 .button-empty .arrow {
    position: relative;
    top: 3px;
    right: 0px;
  }
  .landscape3 div {
    display: none;
  }
  .landscape3 div .foto2 {
    display: none;
  }
}
@media (min-width: 768px) {
  .landscape {
    display: flex;
    background-image: linear-gradient(79.58deg, rgba(0, 115, 12, 0.81) -39.14%, rgba(251, 246, 238, 0) 90.23%);
    width: 1920px;
    height: 719px;
  }
  .landscape .landscape1 {
    width: 250px;
    top: 100px;
  }
  .landscape .landscape1 img {
    position: relative;
    top: 380px;
  }
  .landscape .landscape2 {
    width: 656px;
  }
  .landscape .landscape2 img {
    position: relative;
    bottom: -60px;
  }
  .landscape .landscape2 h6 {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-left: 30px;
  }
  .landscape .landscape2-1 h1 {
    font-family: "Nunito";
    font-weight: 800;
    font-size: 58px;
  }
  .landscape .landscape2-1 h1 .green-text {
    color: #00730C;
  }
  .landscape .landscape2-1 p {
    color: #676767;
    font-weight: 400;
    font-size: 18px;
    margin-left: 0px;
  }
  .landscape .landscape2-1 .button-green {
    width: 190px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #00730C;
    font-weight: 700;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
  }
  .landscape .landscape2-1 .button-empty {
    background-color: rgba(0, 0, 0, 0);
    font-weight: 600;
    font-size: 16px;
    color: #676767;
    border: none;
    margin-left: 5%;
    cursor: pointer;
  }
  .landscape .landscape2-1 .button-empty .arrow {
    position: relative;
    top: 3px;
    right: 0px;
  }
  .landscape .landscape2-2 {
    display: flex;
    font-family: "Nunito";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    justify-content: left;
  }
  .landscape .landscape2-2 div {
    width: 30%;
  }
  .landscape .landscape2-2 p {
    justify-content: center;
    margin-left: 60px;
    color: #212529;
    line-height: 0px;
  }
  .landscape .landscape2-2 p {
    justify-content: center;
    margin-left: 60px;
    color: #212529;
    line-height: 0px;
  }
  .landscape .landscape3 {
    width: 1013px;
  }
  .landscape .landscape3 img {
    position: relative;
    top: 140px;
  }
}
main .services-list {
  width: 1920px;
  height: 700px;
}
main .services-list h1 {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 45px;
  padding: 0px 9px;
  color: #212529;
  text-align: center;
}
main .services-list h1 span {
  color: #00730C;
}
main .services-list p {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #676767;
  padding: 0% 20%;
  text-align: center;
}
main .services-list .buttons1 {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 1920px;
  margin-top: 5%;
}
main .services-list .buttons1 .tree-planting {
  margin: 20px 30px 0 25px;
}
main .services-list .buttons2 {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 1920px;
}
main .experience {
  display: flex;
  justify-content: center;
}
main .experience .one {
  display: block;
  width: 750px;
  height: 1000px;
  background-color: rgb(231, 233, 227);
}
main .experience .one .green-block {
  position: relative;
  margin: 20px 0 0 20px;
}
main .experience .one .resize-1 {
  position: relative;
  left: 50px;
  top: -660px;
  width: 601px;
  height: 741px;
  z-index: 10;
}
main .experience .one .resize-2 {
  position: relative;
  left: 240px;
  bottom: 860px;
  width: 456px;
  height: 356px;
  z-index: 20;
}
main .experience .two {
  display: block;
  width: 750px;
  height: 1000px;
  background-color: #f6fad6;
}
main .experience .two h1 {
  margin-top: 10%;
  text-align: start;
}
main .experience .two p {
  text-align: justify;
  padding: 0 3% 0 3%;
  font-size: 16px;
  line-height: 28px;
}
main .experience .two .years25 {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}
main .experience .two .years25 img {
  margin: 3%;
}/*# sourceMappingURL=style.css.map */